body {
    font-family: 'Roboto Slab', serif;
    background: #F1F1F1;
}

.cabecalho {
    height: 70px;
    width: 100%;
    background: #DDDDDD;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-cabecalho {
    width: 133px;
    height: 66px;
}

@media screen and (max-width: 768px) {
    .cabecalho {
        height: auto;
        flex-direction: column;
    }
    .logo-cabecalho {
        width: 266px;
        height: 132px;
    }
}

.menu-navegacao {
    display: flex;
    align-items: center;
    justify-content: space-around;
    justify-self: flex-end;
}

.menu-navegacao__item {
    margin: 8px;
    font-size: 1.2rem;
    display: inline-block;
    color: #000000;
    border: none;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .menu-navegacao {
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .menu-navegacao__item {
        text-align: center;
        width: 100vw;
        font-size: 1.5rem;
        border-bottom: 1px solid #AAAAAA;
        padding-bottom: 4px;
        box-sizing: border-box;
    }
    .menu-navegacao__item:last-child {
        border-bottom: none;
    }
}

.menu-navegacao__item:hover {
    color: #2e2e2e33;
}

.imagem-main {
    max-width: 100%;
    height: auto;
    object-fit: scale-down;
}

.principal {
    width: 90%;
    margin: 0 auto;
}

.principal__titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.principal__sobre-nos {
    text-align: center;
    margin-bottom: 1rem;
}

.conteudo {
    display: flex;
    flex-direction: column
}

.conteudo__item {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    justify-content: space-evenly;
}

.conteudo__item__imagem-1 {
    max-width: 100%;
    max-height: 500px;
}

.conteudo__item__imagem-2 {
    max-height: 500px;
    max-width: 100%;
}

.conteudo__item__imagem-3 {
    max-height: 500px;
    max-width: 100%;
}

.conteudo__item__imagem-4 {
    max-height: 500px;
    max-width: 100%;
}

.conteudo__item__imagem-5 {
    max-height: 500px;
    max-width: 100%;
}

.rodape__imagem {
    width: 266px;
    height: 132px;
}

@media screen and (max-width: 768px) {
    .conteudo__item {
        flex-direction: column;
    }
}

.rodape {
    height: 200px;
    width: 100%;
    background: #000000;
}

.rodape__imagem {
    display: block;
    margin: auto;
    padding-top: 12px;
}

.copyright {
    color: #FFFFFF;
    text-align: center;
    margin-top: 1.5rem;
}

.link {
    text-decoration: none;
}